{% extends 'base.html' %}

{% block content  %}
  <h1>Login</h1>

  <form method="post" class="ui form">{% csrf_token %}
    {% for field in form %}
      <div class="ui field">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button type="submit" class="ui primary button">Login</button>
  </form>
  <p style="text-align: center;">
    If you have forgotten password, the only way to change it is to do it from the server.
  </p>
{% endblock %}
